:root {
    --bgcolor: #c2b294;
    --hdrcolor: #132c13;

    --hovcolor: #7ea172;
    --slctcolor: #8A9A5B;
    --notesbgcolor: #cad2c5;
}

body{
    /* background-color: var(--bgcolor); */
    /* background-color: white; */
    background-color: var(--hdrcolor);
}


